<footer class="footer mt-4">
    <div class="f-info">
        <div class="f-info-socials">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter"></i></a>
        
        </div>

    
        <div class="f-info-brand">
           &copy; Travellerspoint private limited
        </div>
        <div class="f-info-links">
            <a href="/upcomming">&nbsp Terms  &nbsp</a>
            <a href="/upcomming">&nbsp Privacy &nbsp</a>
        </div>
     
        
    </div>    
</footer>