<% layout('/layouts/boilerplate') -%>

<div class="reg-div col-6 offset-3 mt-5">
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Thanks for showing your response</h2>
<br>
<br>
<p>We are currenty working on this feature, you can expect this working in next week.</p> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/listing"><button class="btn btn-success">Click here to redirect to home page</button></a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

